
<!-- Navbar -->
<nav id="main-nav">
    <a class="nav-item" href="/">Home</a>
    <% for(let element of renderable) { %>
        <button class="nav-item" type="priority" onclick="clickableElement(event, this,  <%= element.id %> )" ><%= element.name %> Priorities</button>
    <% } %> 
    <button class="nav-item">Strategic Enablers</button>
    <button class="nav-item">
        <!-- Search Box -->
        Searchable Box
    </button>
    <div id="user-wrap">
        <!-- User Box -->
        User image
    </div>
</nav>
<!-- Body-->
<div id="main-container">
    <h1>Welcome</h1>
    <h2>This is the home page</h2>
</div>
<!-- Footer -->
