<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="Project Manager">
        <title>Project Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav id="main-nav">
            <button class="nav-item" onclick="navBarOnClick(event, this)">Home</button>
            <button class="nav-item" onclick="navBarOnClick(event, this)">Sectorial Priorities</button>
            <button class="nav-item" onclick="navBarOnClick(event, this)">Institutional Priorities</button>
            <button class="nav-item" onclick="navBarOnClick(event, this)">Strategic Enablers</button>
            <button class="nav-item">
                <!-- Search Box -->
                Searchable Box
            </button>
            <div id="user-wrap">
                <!-- User Box -->
                User image
            </div>
        </nav>
        <!-- Body-->
        <div id="main-container">
            <h1>Welcome</h1>
            <%- body %>
        </div>
        <!-- Footer -->
    </body>
    <script type="text/javascript" src="/js/frontendAPI.js"></script>
</html>