body
{
    margin: 0;
}
#main-nav
{
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}

#left-nav
{
    display: flex;
}

.nav-item-nb
{
    color: white;
    background-color: black;
    padding: 1em;
}

.nav-item-nb:hover
{
    background-color: red;
}

#main-container
{
    padding:0.5em 0.5em;
}

#priority-projects,
#direction-projects,
#objective-projects
{
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
}

.left-right-table,
#project-detailed-info,
#project-info
{
    display: flex;

}

#project-info div 
{
    padding: 1em 1em;
}

.right-table
{
    border: 1px solid black;
}

#project-info-right
{
    flex: 1 1 0;
}

#project-info-left
{
    flex: 1.25 1 0;
    min-width: 26em;
}

#project-info
{
    padding: 0.5em
}

#project-info div, 
#project-detailed-info div,
#milestone-table
{
    padding: 0.25em;
}


.type-overview
{
    min-width: 8em;
    margin-right: 0.25em;
    display: grid;
    place-items: center;
}

#vision,
#scope
{
    width: 100%;
}

.right-table
{
    width: 100%;
    min-width: 11em;
    border: 1px solid black;
    border-radius: 0.25em;
}


td,
#vision,
#scope,
.type-overview,
.right-table,
#project-info div,
#strategic-kpi,
#project-kpi,
#stakeholders,
#milestone-table
{
    border: 1px solid black;
    border-radius: 0.25em;
}

#strategic-kpi,
#project-kpi,
#stakeholders
{
    display: grid;
    place-items: center;
    text-align: justify;
}

.stakeholder
{
    border: 1px solid lightblue;
    width: 100%;
}

#milestone-table
{
    width: 100%;
}

#toolbar-top
{
    background-color:#332F81;
}

.list-group-item.list-group-item-action.hide-list-item
{
    display:none;
}

#dots-after-current,
#dots-before-current
{
    text-align: center;
}